body {
    background-image: linear-gradient(to left ,#1A2980,#26D0CE);
    color: white;
}
table {
    border-collapse: collapse;
    color: white;
    margin-bottom: 5%;
}
table, th, td {
    border: 1px solid black;
    color: white;
    padding: 8px;
}