<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Advanced Programming Midterm Exam</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan:400,600,700&display=swap" rel="stylesheet">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .welcome {
            font-size: 100px;
            font-family: 'Playfair Display';
        }

        .welcome#mm {
            margin-top: 18vh;
            font-size: 30px;
            font-family: 'Playfair Display';
            color: white;
        }

        .welcome#users {
            font-size: 30px;
        }

        .adpro {
            margin-left: 10vw;
        }

        .row {
            margin-top: 7%;
        }

        #m {
            max-height: 50vh;
            overflow-y: scroll;
            margin-bottom: 5%;
        }
        #message {
            background-color: #26D0CE;
            border-radius: 40px;
            box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
            margin-bottom: 20px;
            margin-right: 10vw;
        }

        #message h1, #message a {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 20px;
        }

        #message h1#top {
            font-weight: bold;
            padding-top: 20px;
        }

        #message h3#bottom a {
            padding-left: 40px;
        }
        p a {
            text-decoration: none;
            border-radius: 40px;
            box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
            font-family: 'Spartan';
            font-size: 15px;
            padding: 13px 20px;
            background-color: #1A2980;
            color: white;
        }

        p a:hover {
            text-decoration: none;
            background-color: #26D0CE;
            box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);

            color: #16161d;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="adpro">
    <div class="row">
        <div th:switch="${users}" class="col-md-6" id="user">
            <h2 th:case="null">No users yet!</h2>
            <div th:case="*">
                <h2 class="welcome">Welcome</h2>
                <h2 class="welcome" id="users">Users</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Send Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}" ></td>
                        <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                        <td><a th:href="'mailto:' + ${user.email}">Send</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/signup">Add a new user</a></p>
        </div>
        <div th:switch="${messages}" class="col-md-6" id="msg">
            <div id="m">
                <h2 class="welcome" id="mm">Please leave me a message!</h2>
                <div th:each="message : ${messages}" id="message">
                    <h1 id="top">Message:</h1>
                    <h1 th:text="${message.text}"></h1>
                    <h1 th:text="${message.date}" ></h1>
                    <h3 id="bottom"><a th:href="@{/deletemessage/{id}(id=${message.id})}">Delete</a></h3>
                </div>
            </div>
            <p><a href="/addmsg">Leave a message</a></p>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>